.photo-index-header-explore{
  padding-top: 25px;
  padding-left: 100px;
  padding-bottom: 15px;
  font-size: 24px;
  color:grey;
}

.photo-index{
  /* overflow: scroll; */
  padding-bottom: 50px;
}

.photo-container{
  position: relative;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

.photo-index-item{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.index-image-preview{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  object-fit: cover;
}