.photo-index-header-explore{
  padding-top: 25px;
  padding-left: 200px;
  padding-bottom: 15px;
  font-size: 24px;
  color:grey;
}

.photo-index{
  overflow: scroll;
}

.photo-container{
  position: relative;
  align-items: center;
  padding-left:200px;
  /* padding-right:200px; */
  flex:25%;
}

.index-image-preview{
  display: flex;
  float: left;
  max-width: 25%;
  max-height: 100px;
  padding: 2px;
}

