.homepage{
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 50%;
  overflow: hidden;
  position: fixed;

  z-index: -99;
  animation-name: example;
  animation-delay: 0s;
  animation-duration: 40s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background: url('./beach-during-sunset-1.jpeg'); background-size: cover;}
  25%  {background: url('./beach-during-sunset-2.jpeg'); background-size: cover;}
  50%  {background: url('./beach-during-sunset-3.jpeg'); background-size: cover;}
  75%  {background: url('./beach-during-sunset-4.jpeg'); background-size: cover;}
  100% {background: url('./beach-during-sunset-1.jpeg'); background-size: cover;}
}

.home-text{
  position: relative;
  top: 40%;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 620px;
  height: 100%;
}

.home-title{
  padding-bottom: 25px;
  font-size: 56px;
  font-weight: bold;
}

.home-para{
  padding-bottom: 45px;
  font-size: 26px;
}

.start-for-free{
  padding: 16px;

}
.start-for-free a{
  font-size: 24px;
  font-weight: bold;
}
