.footer-nav {
  position: fixed;
  text-align: end;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: black;
}

.footer-icon-links img{
  width: 25px;
  height: 25px;
  padding: 10px;

  padding-right: 20px;
}
