.search-index-header{
  padding-top: 25px;
  padding-left: 200px;
  padding-bottom: 15px;
  font-size: 24px;
  color:grey;
}

.search-photo-container{
  position: relative;
  align-items: center;
  padding-left:200px;
  flex:25%;
}

.search-index{
  overflow: scroll;
}

.search-index-image-preview{
  display: flex;
  float: left;
  max-width: 25%;
  max-height: 100px;
  padding: 2px;
}

html{
  background-color: rgb(243, 245, 246);
}

.search-index-empty{
  text-align: center;
  padding-top: 20%;
  color: grey;
}

.no-search-top{
  font-size: 50px;
}

.no-search-bottom{
  padding-top: 5%;
  font-size: 30px;
}