.header-loggedin{
  background-color: black;
  color:white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-loggedin a{
  color: white;
  padding-right: 20px;
}

.upload-img{
  width:50px;
  height:25px;
}

.upload-img:hover{
  opacity: 50%;
}

.explore-container{
  padding-left: 100px;
  padding-right: 1100px;
}

.upload-container{

}

.current-user{
  padding-left: 450px;
  padding-right: 20px;
}