.upload-screen{
  overflow: hidden;
  position: fixed;
  background-color: rgb(43, 43, 43);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.upload-box{
  padding-top: 300px;
  text-align: center;
  vertical-align: middle;
}

.upload-text{
  padding-bottom: 100px;
  font-size: 24px;
  color: white;
}

.photo-upload{
  display: none;
}

.photo-upload-button{
  background-color: rgb(36, 154, 227);
  border: solid 1px rgb(36, 154, 227);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.photo-upload-button:hover{
  background-color: rgb(36, 131, 189);
}

/* upload form */

.upload-form-screen{
  overflow: hidden;
  position: fixed;
  align-content: flex-start;
  background-color: rgb(33, 33, 33);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.upload-form{
  display: flex;
  column-gap: 5%;
}

.photo-information{
  float: left;
  background-color: black;
  flex-direction:row;
  margin-top: 50px;
  margin-left: 20px;
  border: rgb(104, 104, 104) solid 2px;
  width: 350px;
  height: 100%;
}

.editing-header{
  color:grey;
  margin:5px;
  padding: 10px;
}

.title-and-description{
  border-top: rgb(104, 104, 104) solid 2px;
  border-bottom: rgb(104, 104, 104) solid 2px;
  padding: 15px;
}

.title-input{
  width:95%;
}
.description-input{
  width:95%;
}
.tag-input{
  width:95%;
}

.title-input-container{
  padding-bottom:5px;
}

.tag-div{
  padding: 15px;
  border-bottom: rgb(104, 104, 104) solid 2px;
}

.title-input::placeholder{
  bottom:0px;
}

.description-input::placeholder{
  bottom:0px;
}

.tag-input::placeholder{
  bottom:0px;
}

.upload-image-preview{
  margin-top: 50px;
  float: left;
  border: 5px solid magenta;
  max-width: 50%;
}

.upload-submit-container{
  padding: 15px;
}

.upload-submit{
  background-color: rgb(36, 154, 227);
  border: solid 1px rgb(36, 154, 227);
  color: white;
  text-align: center;
}