.image-background{
  width: 100%;

  background-color: rgb(33, 33, 36);

}

.back-to-explore{
  padding-top: 20px;
}

.back-to-explore a{
  padding-left: 20px;
  font-size: 14px;
  color:white;
}

.show-img-container{
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 30px;
  min-height: 770px;
}

.show-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 70%;
  max-height: 70%;
}

.show-info{
  width:1000px;
  height:500px;
  margin-left: auto;
  margin-right: auto;
}

.photo-show-container button{
  background-color: rgb(36, 154, 227);
  border: solid 1px rgb(36, 154, 227);
  color: white;
  border-radius: 5px;
}

.photo-show-container button:hover{
  background-color: rgb(36, 131, 189);
}

.delete-container{
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  justify-content: flex-end;
}

.show-tag{
  float:right;
  display: block;
  width: 200px;
  min-height: 200px;
}

.tags-header{
  display: flex;
  /* justify-content: flex-end; */
  color: rgb(36, 154, 227);
  font-size: 24px;
  padding-bottom: 10px;
}

.tag-list{
  display: flex;
  /* justify-content: flex-end; */

}

.tag-list-tags{
  background-color: rgb(198, 198, 198);
  padding: 5px;
  border-radius: 5px;
}

.tag-list-tags:hover{
  background-color: rgb(116, 116, 116);
  color:white;
}

.show-info{
  padding-top: 20px;
}

.show-info-username{
  padding-bottom: 20px;
}

.title-not-edit{
  font-size: 24px;
  padding-bottom: 30px;
}

.description-not-edit{
  padding-bottom: 20px;
  font-size: 18px;
  /* border-bottom: solid rgb(58, 58, 58) 1px; */
  width: 500px;
}

.edit-photo-button-container{
  width: 500px;
  padding-left: 459px;
  padding-top: 20px;
  padding-bottom: 10px;

}

.submit-photo-button-container{
  width: 500px;
  padding-left: 433px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title-edited-container{
  display: flex;
  padding-bottom: 20px;

}

.title-edited{
  width:500px;
}

.description-edited{
  width:500px;
  height: 100px;
}

.delete-container .delete{
  background-color: red;
  border: solid 1px red;
}

.delete-container .delete:hover {
  background-color: rgb(255, 74, 74);
}

.dislike-container .delete{
  background-color: red;
  border: solid 1px red;
}

.dislike-container .delete:hover {
  background-color: rgb(255, 74, 74);
}


.comment-header {
  color:rgb(36, 154, 227);
  padding-top: 20px;
  padding-bottom: 10px;
}

.comment-submission-text{
  width: 430px;
  height: 45px;
  float: left;
}

.comment-submit{
  height: 51px;
}

.comment-index-item{
  margin-top: 20px;
  width: 500px;
}

.comment-index-item:hover{
  background-color:rgb(203, 203, 203);
}

.delete-comment{
  float: right;
}

.comment-list{
  padding-bottom: 50px;
}

.comment-list-comment-username{
  color: rgb(36, 154, 227);
}

.like-section{
  width: 500px;
  padding-top: 20px;
  border-top: solid rgb(58, 58, 58) 1px;
}

.like-number{
  color: rgb(36, 154, 227);
  font-size: 20px;
  float: left;
  padding-right: 20px;
}

.like-button-container{
  text-align: end;
}

.dislike-container{
  text-align: end;
}