.login-signup {
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: flex-end;
}

button {
  border-radius: 5px;
  border: white;
}

.start-for-free{
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
}

button > a{
  color:black;
}

button:hover > a{
  color:rgb(114, 118, 121);
}

.signup{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

.session-form-errors > ul > li{
  color: red;
}

